toolbar {
    
    .toolbar {
        position: absolute;
        z-index: 99999;
        left: 50%;
        transform: translate(-50%);
        bottom: 5px;
        background-color: rgba(255,255,255,.8);
        border: 1px solid rgba(0,0,0,.3);
        width: auto;
        right: auto;
    }
    
    .toolbar-item {
        display: inline-block;
        padding: 10px;
    }
    .toolbar-separator{
        display: inline-block;
        width: 2px;
        background-color: rgba(0,0,0,.4);
        height: 20px;
    }
    
}
