<div class="toolbar">
  <div class="toolbar-item">
    <a href="#" id="move" class="hide">Move</a>
    <a href="#" id="rotate">Rotate</a>
  </div>
  <div class="toolbar-separator"></div>
  <div class="toolbar-item">
    <a href="#" id="add" (click)="callAddMod()">Add</a>
  </div>
  <div class="toolbar-item">
    <a href="#" id="clone">Duplicate</a>
  </div>
  <div class="toolbar-item">
    <a href="#">Group</a>
  </div>
  <div class="toolbar-separator"></div>
  <div class="toolbar-item">
      <a href="#" id="delete"><i class="material-icons">Delete</i></a>
  </div>
</div>
