.left-menu {
    position: absolute;
    width: 250px;
    z-index: 9999;
    display: block;
    top: 5px;
    left: 5px;
    transition: left .8s cubic-bezier(0.42, 0, 0.15, 1.4);

    &.active {
        left: -200px;
    }
    .menu-tab {
        background-color: rgba(255,255,255,.4);
        position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        height: 50px;
    }

    .tab-title {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 50px;
        padding: 20px;
    }
    .tab-icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        float: right;
    }
    .tab-icon button {
        -webkit-appearance: none;
        width: 100%;
        height: 100%;
        margin: 0;
        background-color: transparent;
        border: none;
        padding: 0;
        font-size: 20px;
        color: #fff;
    }
    .tab-icon button:hover {
        background-color: rgba(255,255,255,.7);
        color: rgba(0,0,0,.7);
    }


    .tab-title {
        border-left: 1px solid rgba(0,0,0,.3);
        border-top: 1px solid rgba(0,0,0,.3);
    }
    .tab-icon {
        border: 1px solid rgba(0,0,0,.3);
        border-left: none;
    }


    .menu-content {
        position: absolute;
        top: 50px;
        left: 0;
        display: block;
        width: 200px;
        background-color: rgba(255,255,255,.4);
        border: 1px solid rgba(0,0,0,.3);
        border-top: none;
        padding: 20px;
    }


    .submenu {
        background-color: rgba(0,0,0,.1);
        padding-bottom: 5px;
        margin-bottom: 20px;
        border-radius: 5px;
    }
    .menu-title {
        color: #fff;
        text-transform: uppercase;
        background-color: #78B937;
        padding: 7px 10px;
        font-size: 24px;
        margin: 0;
        display: block;
        text-decoration: none;
    }
    .badass-button {
      color: #fff;
      background-color: rgba(0,0,0,.1);
      padding: 7px 10px;
      font-size: 18px;
      margin: 0;
      display: block;
      text-decoration: none;
  }
    .menu-item {
        display: block;
        text-decoration: none;
        color: #333;
        margin: 10px 0;
        padding-left: 20px;
    }
    .overflower {
        height: 100px;
        overflow: scroll;
    }
    .hide {
        display: none;
    }

}
#float-problem {
    float: left;
    margin-right: 38px;
}
#float-problem-right {
    float: left;
}

.menu-title-mini {
    color: #78B937;
    text-transform: uppercase;
    background-color: #fff;
    padding: 7px 10px;
    font-size: 14px;
    margin: 0;
    display: block;
    text-decoration: none;
    width: 60px;
    border: 1px solid #78B937!important;
}

.badass-button-blanc{
    color:#78B937;
    text-transform: uppercase;
    background-color: #fff;
    padding: 7px 10px;
    font-size: 24px;
    margin: 0;
    display: block;
    text-decoration: none;
    border: 1px solid #78B937!important;
}
h4 {
  color: #fff;
}
ul {
  display: block;
  list-style: none;
  color: #fff;
  margin: 10px 0 10px 0; padding: 0;
}
